<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form>
      <label for="fName">Title: </label><br />
      <input type="text" name="title" id="title" /><br />
      <label for="Post">Post </label><br />
      <textarea
        name="content"
        id="Post"
        placeholder="Write your blog post here...."
      ></textarea>
      <button type="submit">Send/Submit</button>
    </form>
  </body>
</html>
